@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: 'Lexend-Regular';
  src: url('./assets/fonts/Lexend-Regular.ttf');
}
@font-face {
  font-family: 'Lexend-Medium';
  src: url('./assets/fonts/Lexend-Medium.ttf');
}
